@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;600&display=swap');

$heading-font: 'League Spartan', sans-serif;
$primary-font: 'League Spartan', sans-serif;
$secondary-font: 'Crimson Pro', serif;

